@import '../index.css';
/* ====================================== General ====================================== */


/* ====================================== Twitter post ====================================== */
/* --------------------------------- General --------------------------------- */
.twitterPost {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* --------------------------------- profile pic + select reply scope --------------------------------- */
.twitterPost > div:nth-child(2){
    display: flex;
    flex-direciton: row;
    align-items: center;
    gap: 20px;
    margin: 0px 0px 20px 0px;
}
.twitterPost > div:nth-child(2) > img{
    border-radius: 100%;
    width: 50px;
}
.twitterPost > div:nth-child(2) > select{
    border: none;
    border-bottom: 1.5px solid var(--gray0);
    font-size: 1.2em;
    color: var(--purple1);
    padding: 10px;
    width: fit-content;
    transition: .4s;
}
.twitterPost > div:nth-child(2) > select:focus{
    outline:none;
    border-bottom: 1.5px solid var(--purple3);
    transition: .4s;
}

/* --------------------------------- Text --------------------------------- */
.twitterPost textarea{
    resize: none;
    height: 200px;
    padding: 10px;
    font-size: 1.2em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: solid 1px var(--gray0);
    width: calc(100% - 20px);
}
.twitterPost textarea:focus{
    outline: solid 1px var(--purple3);
}

/* --------------------------------- Post options --------------------------------- */
.twitterPostOptions{
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-item: flex-end;
}
.twitterPostOptions > img{
    height: 36px;
}
.twitterPostOptions > img:hover{
    filter: invert(28%) sepia(89%) saturate(5287%) hue-rotate(239deg) brightness(95%) contrast(94%);
}
.twitterPostOptionSelected{
    filter: invert(42%) sepia(93%) saturate(3396%) hue-rotate(225deg) brightness(101%) contrast(101%);
}

/* --------------------------------- Post options : upload media --------------------------------- */
.tweetImgPreview{
    max-height: 200px;
    max-width: 50%;
    object-fit: cover;
}

.twitterPost > hr{
    width: 100%;
}

/* --------------------------------- Post options : poll --------------------------------- */
.tweetPostPoll > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.tweetPostPoll > input:focus{
    outline: none;
}
.tweetPostPoll > form > div {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.tweetPostPoll > form > div input{
    padding: 0px 10px;
}