@import '../index.css';
/* ====================================== General ====================================== */
.getTweetByHashtag, .getTwitterUser{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.getTweetByHashtag form > input[type=text], .getTwitterUser form > input[type=text]{
    width: calc(66% - 40px);
}
.getTweetByHashtag form > input[type=submit], .getTwitterUser form > input[type=submit]{
    width: 34%;
}
.getTweetByHashtag form, .getTwitterUser form{
    display: flex;
    flex-direciton: row;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
/* ====================================== Twitter post ====================================== */
/* --------------------------------- General --------------------------------- */
.twitterPost {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.twitterPost h2 {
    margin: 0px 0px 10px 0px;
    color: var(--purple1);
    font-weight: 600;
}
.twitterPost h3 {
    margin: 10px 0px 0px 0px;
    color: var(--purple1);
    font-weight: 600;
}
.postSuccess{
    color: var(--purple3);
    font-weight: 700;
}

/* --------------------------------- profile pic + select reply scope --------------------------------- */
.twitterPost > div:nth-child(2){
    display: flex;
    flex-direciton: row;
    align-items: center;
    gap: 20px;
    margin: 0px 0px 20px 0px;
}
.twitterPost > div:nth-child(2) > img{
    border-radius: 100%;
    width: 50px;
}
.twitterPost > div:nth-child(2) > select{
    border: none;
    border-bottom: 1.5px solid var(--gray0);
    font-size: 1.2em;
    color: var(--purple1);
    padding: 10px;
    width: fit-content;
    transition: .4s;
}
.twitterPost > div:nth-child(2) > select:focus{
    outline:none;
    border-bottom: 1.5px solid var(--purple3);
    transition: .4s;
}

/* --------------------------------- Text --------------------------------- */
.twitterPost textarea{
    resize: none;
    height: 100px;
    padding: 10px;
    font-size: 1.2em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    border: solid 1px var(--gray0);
    width: calc(100% - 20px);
}
.twitterPost textarea:focus{
    outline: solid 1px var(--purple3);
}

/* --------------------------------- Post options --------------------------------- */
.twitterPostOptions{
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-item: flex-end;
}
.twitterPostOptions > img{
    height: 36px;
}
.twitterPostOptions > img:hover{
    filter: invert(28%) sepia(89%) saturate(5287%) hue-rotate(239deg) brightness(95%) contrast(94%);
}
.twitterPostOptionSelected{
    filter: invert(42%) sepia(93%) saturate(3396%) hue-rotate(225deg) brightness(101%) contrast(101%);
}
@media (max-width: 1200px){
    .twitterPost > div:nth-child(2) > img {
        display: none;
    }
}

/* --------------------------------- Post options : upload media --------------------------------- */
.tweetImgPreview{
    max-height: 200px;
    max-width: 50%;
    object-fit: cover;
}

.twitterPost > hr{
    width: 100%;
}

/* --------------------------------- Post options : poll --------------------------------- */
.tweetPostPoll > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.tweetPostPoll > input:focus{
    outline: none;
}
.tweetPostPoll > form > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tweetPostPoll > form > div > div{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.tweetPostPoll > form > div input{
    padding: 0px 10px;
}
.tweetPostPoll > form > div input:focus{
    outline: none;
    border-bottom: solid 2px var(--purple3);
}
.tweetPostPoll > form > div > div > label p {
    margin: 0px;
    font-size: 1.1em;
    font-weight: 400;
}
.tweetPostPoll > form > div > label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



/* ====================================== Twitter Get Tweets by Hashtag ====================================== */
.getTweetByHashtag form > input[type=text] {
    width: 50%;
    background-image: url("../assets/icons/hashtagIcon.svg");
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 20px 20px;
    padding-left: 50px;
    width: calc(66% - 90px);
}
.imgTweetHashtag{
    max-height: 300px;
    max-width: 50%;
}
.singleTweetByHashtag > div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 10px 0px;
}
.singleTweetByHashtag > div > img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.singleTweetByHashtag p{
    margin: 0px;
}
.tweetsHashtagUserName {
    font-weight: 700;
}
.tweetsHashtagScreenName{
    color: var(--purple3);
}

/* ====================================== Twitter Get user ====================================== */
.getTwitterUser article > p{
    border-left: solid 2px var(--purple3);
    padding-left: 20px;
}

.profileHead{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.profileHead .profilePic {
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.verifiedIcon{
    width: 20px;
}
.userBanner{
    max-width: 100%;
}
.userCreationDate{
    color:var(--gray0);
}
.userMetrics{
    color:var(--gray0);
}
.userMetrics > span {
    color: var(--purple3);
    font-weight: 600;
}