@import '../index.css';

.weatherWidget{
    max-width: calc(80vw - 120px);
}
.weatherWidget > p {
    color: var(--gray0);
    font-size: 1.2em;
    margin: 0px;
}
.weatherWidget h2 {
    margin: 10px 0px 10px 0px;
    font-size: 5em;
    color: var(--purple3);
    font-weight: 500;
}
.offsetWeather{
    position: relative;
}

.weatherWidget form {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direciton: row;
    flex-wrap: wrap;
    gap: 20px;
}
.weatherWidget form > input[type=text] {
    width: 50%;
    background-image: url("../assets/icons/position.svg");
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: 30px 30px;
    padding-left: 60px;
}

.setOfHourlyWeather{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px var(--purple4);
    overflow: scroll;
}

.hourlyWeather{
    text-align: center;
    font-weight: 700;
    color: var(--purple1);
    white-space: nowrap;
    position: relative;
}

.hourlyWeather img {
    height: 50px;
}