:root{
  --purple0: #1F1E38;
  --purple1: #2D2D53;
  --purple2: #4545A1;
  --purple3: #4747EB;
  --purple4: #6666FF;
  --gray0: #A4A4C1;
  --gray1: #E7E9EE;
  --gray2: #F6F7F9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray2);
  color: var(--purple0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 2em;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: row;
}

.shadow0 {
  box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, .01);
}

/* ==================================================== Component ==================================================== */
/* ----------------------------------------------- Form ----------------------------------------------- */
input {
  background-color: white;
  padding: 5px 20px 5px 0px;
  border:none;
  border-bottom: solid 1.5px var(--gray0);
  font-size: 1.2em;
  transition: .2s
}
::placeholder{
  color: var(--gray0);
  font-weight: 100;
}
form input[type= password]:focus, form input[type=text]:focus , form input[type=email]:focus{
  outline:none;
  border-bottom: 3px solid var(--purple4);
  transition: .2s
}
input[type=submit]{
  width: fit-content;
  background-color: white;
  border: solid 2px var(--purple4);
  font-size: 1.2em;
  padding: 10px 30px 10px 30px;
  color: var(--purple3);
  transition: .4s;
}
input[type=submit]:hover{
  background-color: var(--purple4);
  color: white;
  transition: .4s;
}