@import "./index.css";

/* ================================================ General ================================================ */
section{
    display: flex;
    flex-direction: row;
}

/* ================================================ Left side ================================================ */
section > img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

/* ================================================ Right side ================================================ */
/* ------------------------------------ General ------------------------------------ */
section > article {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section > article > div {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 35vw;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, .02);
    padding-bottom: 30px;
}

/* ------------------------------------ Logo ------------------------------------ */
section > article > div > div:nth-child(1) {
    background-color: var(--purple1);
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

/* ------------------------------------ Form ------------------------------------ */
form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}
form legend {
    font-size: 2em;
    font-weight:600;
}
form label {
    font-size: 1.1em;
    font-weight: 500;
}
form > div {
    display: flex;
    flex-direction: column;
    gap:20px;
}
form > div > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input {
    background-color: white;
    padding: 5px 20px 5px 0px;
    border:none;
    border-bottom: solid 1.5px var(--gray0);
    font-size: 1.2em;
    transition: .2s
}
::placeholder{
    color: var(--gray0);
    font-weight: 100;
}
form input[type= password]:focus, form input[type=text]:focus{
    outline:none;
    border-bottom: 3px solid var(--purple4);
    transition: .2s
}
input[type=submit]{
    width: fit-content;
    background-color: white;
    border: solid 2px var(--purple4);
    font-size: 1.2em;
    padding: 10px 30px 10px 30px;
    color: var(--purple3);
    transition: .4s;
}
input[type=submit]:hover{
    background-color: var(--purple4);
    color: white;
    transition: .4s;
}

/* ------------------------------------ Log in with ------------------------------------ */
p{
    margin:0px;
    font-size: 1.3em;
    color: var(--gray0);
}
.loginWith{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oauth2{
    width: 80%;
    padding: 15px 30px 15px 30px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.github {
    background-color: #3a3a3a;
}
.github img {
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(138deg) brightness(114%) contrast(117%);
}
.twitter{
    background-color: #1C9BEF;
}
.twitter img{
    width: 40px;
    filter: brightness(900%);
}